{% extends "layout.html" %}

{% block title %}
    upload
{% endblock %}

{% block main %}
    <h1>upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
        <label for="fileUpload">Choose a JPG file: </label>
        <input type="file" id="fileUpload" name="file" accept="image/jpeg" required>
        </div>
        <div class="mb-3" style="margin-top: 20px">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="full_name" placeholder="full_name"
                type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="date_of_birth" placeholder="date_of_birth"
                type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="identification" placeholder="identification"
                type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="gmail" placeholder="gmail"
                type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="username" placeholder="username" value="{{username}}"
                type="text">
        </div>
        <button class="btn btn-primary p-2" type="submit">Upload</button>
    </form>
{% endblock %}